doctype html
html
	head
		title #{title}
		meta(charset='uft-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.ico")
		link(href="/css/cover.css" rel="stylesheet")
		link(href="/css/bootstrap.min.css" rel="stylesheet")
		//- link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
		script(type='text/javascript', src="/js/ie-emulation-modes-warning.js")
		script(type='text/javascript', src="/js/ie10-viewport-bug-workaround.js")
		script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(type='text/javascript', src="/js/bootstrap.min.js")
		script(type='text/javascript', src="/js/docs.min.js")
		script(type='text/javascript', src='/js/codeCheck.js')

	body(style="background-color:lighten(#000, 20%);")
		.site-wrapper
			.site-wrapper-inner
				.cover-container
					.masthead.clearfix
						.inner

							h3.masthead-brand NTU Gossip

					.inner.cover()
						
						h1.cover-heading(style="font-weight:100;font-size:60px;") 
							i.icon-volume-up.icon-spin
							八卦台大 βeta  
						p.lead(style="color:red;font-size:20px;") 匿名問卦、爆卦，關注台大名人或潮人。
						.text1(style="border:0px;text-align:center;")
							textarea(style="resize:none;width:500px;height:150px;background-color:#222;color:white;" id="gossipText")
					.code#checkCode(style="margin-top:10px;margin-bottom:10px;" onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;" onclick="createCode()")
					.gossip1(style="height:25px;")
						input#inputCode(style="background-color:#444;text-align:center; float:top;" type="text" placeholder="點圖獲取驗證碼")
					.gossip2(style="font-weight:bold;margin-top:10px;height:70px;")
						input.btn.btn-danger.btn-lg#Button1(onclick="validateCode();" type="button" value="Gossip!") 



					.mastfoot
						.inner
							//- p(style="font-size:16px; font-weight:lighter;") 本站保有因隱私問題而「碼賽克」內文之權利。
							p(style="font-size:16px; font-weight:lighter;") Contact by ntugossip@gmail.com




		//- div(style="background-image:url('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/429441_396740237068494_1396179813_n.jpg';background-repeat:no-repeat;background-attachment:fixed;background-position:center;)")
		//- h1(style="font-size:30px;color:white;font-family:Marker Felt;text-align:center;") Welcome to Test Heroku Application from WilsonHuangJi
		//- div.pp(style="font-size:18px;color:white;text-align:center;")
		//- 	p(style="color:white;text-align:center;font-family:Helvetica-Neue;") 
		//- 	| Hello, I am trash, but I have a friend who has a big tongue,
		//- 	| He is Gom. His handsome face picture as below!
		//- div.haha(style="color:white;text-align:center;")
		//- 	img(style='margin-top:18px;text-align:center;width:30%;height:30%;border-radius:30px;', src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/10320617_10203131761486774_3072996603546527332_n.jpg',alt='bigTongue' class='img-rounded;')
		//- div(style="font-size:20px;color:white;margin-top:20px;text-align:center;")
		//- 	p(style="text-align:center;font-family:Helvetica-Neue;")  
		//- 	| He is so handsome that so many girls and women like him, 
		//- 	| and let me show you how good is him!
		//- div(style="color:white;margin-top:20px;text-align:center;")
		//- 	img(style="width:30%;height:30%;border-radius:30px;",src="https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t1.0-9/10320473_721003847951683_8940181512815326732_n.jpg")					
		//- div(style="font-size:18px;color:white;margin-top:20px;text-align:center;")
		//- 	p(style="text-align:center;font-family:Helvetica-Neue;")  
		//- 	| And you can see this photo, 
		//- div(style="margin-top:20px;text-align:center;")
		//- 	img(style="width:30%;height:30%;border-radius:30px;",src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/10262249_10152178866688918_8757599073894465196_n.jpg")
		//- div(style="font-size:18px;color:white;margin-top:20px;text-align:center;")
		//- 	p(style="text-align:center;font-family:Helvetica-Neue;")  
		//- 	| As you see, you can understand how charming is he,
		//- 	| and let too many female fans adore him.
		//- div(style="margin-top:20px;text-align:center;")
		//- 	img(style="width:30%;height:30%;border-radius:30px;",src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1959632_670461556348574_1534470011_n.jpg")

