doctype html
html
	head
		title #{title}
	body
		h1(style="font-family:Helvetica-Neue;font-weight:lighter;text-align:center;") Welcome to Test Heroku Application from WilsonHuangJi
		div.pp(style="text-align:center;")
			p(style="text-align:center;font-family:Helvetica-Neue;") 
			| Hello, I am trash, but I have a friend who has a big tongue,
			| He is Gom. His handsome face picture as below!
		div.haha(style="text-align:center;")
			img(style='margin-top:20px;text-align:center;width:30%;height:30%;border-radius:30px;', src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/10320617_10203131761486774_3072996603546527332_n.jpg',alt='bigTongue' class='img-rounded;')
